<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script type="module" src="https://unpkg.com/@fluentui/web-components"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            corePlugins: {
                preflight: true,
            },
        };
    </script>
    <title>欢迎</title>
</head>

<body>
    <script type="module">
        let current = 1
        let postIndex = []
        let pageSize = 5
        function renderPage() {
            let renderArray = postIndex.slice(pageSize * ((current - 1) < 0 ? 0 : current - 1), pageSize * current)
            let tableHtml = renderArray.map((value, index) => {
                return `<li id="page-item-${value.id}">
                                <fluent-card class="transition delay-150 duration-300 ease-in divide-y divide-dashed max-h-32 min-h-10 truncate rounded hover:transition-all hover:shadow-xl">
                                    <div class="page-item-tag flex space-x-4">${value.tags.map((tag) => {
                    return `<fluent-badge appearance="accent" class="tag-item text-xs p-1">${tag}</fluent-badge>`
                }).join("")}
                                     </div>
                                     <div class="p-1">
                                         <a class="page-item-href" href="/post/${value.id}" >
                                             <h1 class="page-item-title text-xl font-bold">${value.title}</h1>
                                             <hr/>
                                             <div class="page-item-post max-h-20 min-h-5 truncate">${value.post}</div>
                                         </a>
                                     </div>
                                </fluent-card>
                            </li>`.trim()
            }).join("").trim()
            document.getElementById("essay-page-table").innerHTML = tableHtml
        }
        function renderPageCurrentSelect() {
            let totalPage = Math.ceil(postIndex.length / pageSize)
            let pageSelect = []
            for (let i = 1; i <= totalPage; i++) {
                pageSelect.push(`<fluent-option value="${i}" ${i == current ? "selected" : ""}>${i}</fluent-option>`.trim())
            }

            document.getElementById("page-current").innerHTML = `${pageSelect.join("").trim()}`.trim()

            document.getElementById("page-current").currentValue = current
        }

        window.onload = () => {

            fetch("/index.json")
                .then(response => response.json())
                .then(data => {
                    postIndex = data
                    renderPageCurrentSelect()
                })
                .catch(err => console.error(err))

            document.getElementById("page-size").addEventListener("change", function (event) {
                pageSize = parseInt(this.value)
                if (current > Math.ceil(postIndex.length / pageSize)) {
                    current = Math.ceil(postIndex.length / pageSize)
                }
                renderPage()
                renderPageCurrentSelect()
            })

            document.getElementById("page-current").addEventListener("change", function (event) {
                current = parseInt(this.currentValue)
                renderPage()
                renderPageCurrentSelect()
            })

            document.getElementById("page-current-previous").addEventListener("click", function (event) {
                current -= 1
                if (current < 1) {
                    current = 1
                } else {
                    renderPage()
                    renderPageCurrentSelect()
                }
            })

            document.getElementById("page-current-next").addEventListener("click", function (event) {
                current += 1
                if (current > Math.ceil(postIndex.length / pageSize)) {
                    current = Math.ceil(postIndex.length / pageSize)
                } else {
                    renderPage()
                    renderPageCurrentSelect()
                }
            })



        }

    </script>
    <div id="essay-page" class="container mx-auto p-8 space-y-2">
        <div class="flex justify-between">
            <fluent-breadcrumb>
                <fluent-breadcrumb-item href="/">
                    <?xml version="1.0" encoding="UTF-8"?><svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18V42H39V18L24 6L9 18Z" fill="none" stroke="#333" stroke-width="4"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M19 29V42H29V29H19Z" fill="none" stroke="#333" stroke-width="4"
                            stroke-linejoin="round" />
                        <path d="M9 42H39" stroke="#333" stroke-width="4" stroke-linecap="round" />
                    </svg>
                </fluent-breadcrumb-item>
            </fluent-breadcrumb>
            <a href="/search">
                <?xml version="1.0" encoding="UTF-8"?><svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21 38C30.3888 38 38 30.3888 38 21C38 11.6112 30.3888 4 21 4C11.6112 4 4 11.6112 4 21C4 30.3888 11.6112 38 21 38Z"
                        fill="none" stroke="#333" stroke-width="4" stroke-linejoin="round" />
                    <path
                        d="M26.657 14.3431C25.2093 12.8954 23.2093 12 21.0001 12C18.791 12 16.791 12.8954 15.3433 14.3431"
                        stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M33.2216 33.2217L41.7069 41.707" stroke="#333" stroke-width="4" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </a>
        </div>
        <ul id="essay-page-table" class="page-table container mx-auto space-y-4 list-outside list-none ">
            {{range .}}
            <li id="page-item-{{.ID}}">
                <fluent-card
                    class="page-item transition delay-150 duration-300 ease-in divide-y divide-dashed max-h-32 min-h-10 truncate rounded hover:transition-all hover:shadow-xl">
                    <div class="page-item-tag flex space-x-4">
                        {{range .Tags}}
                        <fluent-badge appearance="accent" class="tag-item text-xs p-1">{{.Name}}</fluent-badge>
                        {{end}}
                    </div>
                    <div class="p-1">
                        <a class="page-item-href cursor-pointer" href="/post/{{.ID}}">
                            <h1 class="page-item-title text-xl font-bold">{{.Title}}</h1>
                            <hr />
                            <div class="page-item-post">{{.Post}}</div>
                        </a>
                    </div>
                </fluent-card>
            </li>
            {{end}}
        </ul>
        <div class="page-bar flex justify-end space-x-4">
            <div id="page-size-select">
                <fluent-select id="page-size" name="page-size" title="page-size" class="max-w-16 min-w-12 outline-0">
                    <fluent-option value="1">1</fluent-option>
                    <fluent-option value="2">2</fluent-option>
                    <fluent-option value="5" selected>5</fluent-option>
                    <fluent-option value="10">10</fluent-option>
                    <fluent-option value="15">15</fluent-option>
                </fluent-select>
                <span class="leading-8 h-8">条/页</span>
            </div>
            <fluent-button id="page-current-previous" appearance="accent">上一页</fluent-button>
            <fluent-select id="page-current" title="page-current" class="max-w-16 min-w-12 outline-0">
                <fluent-option value="1">1</fluent-option>
            </fluent-select>
            <fluent-button id="page-current-next" appearance="accent">下一页</fluent-button>
        </div>
    </div>
</body>

</html>