<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script type="module" src="https://unpkg.com/@fluentui/web-components"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="https://unpkg.com/@fluentui/web-components"></script>
    <title>{{.Title}}</title>
</head>

<body>
    <div class="container mx-auto p-8 space-y-2">
        <div class="flex justify-between">
            <fluent-breadcrumb>
                <fluent-breadcrumb-item href="#" onclick="window.history.back(); return false;">
                    <?xml version="1.0" encoding="UTF-8"?><svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18V42H39V18L24 6L9 18Z" fill="none" stroke="#333" stroke-width="4"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M19 29V42H29V29H19Z" fill="none" stroke="#333" stroke-width="4"
                            stroke-linejoin="round" />
                        <path d="M9 42H39" stroke="#333" stroke-width="4" stroke-linecap="round" />
                    </svg>
                </fluent-breadcrumb-item>
                <fluent-breadcrumb-item>{{.Title}}</fluent-breadcrumb-item>
            </fluent-breadcrumb>
        </div>
        <div id="tag" class="flex space-x-4">
            {{range .Tags}}
            <fluent-badge appearance="accent" class="tag-item text-xs p-1">{{.Name}}</fluent-badge>
            {{end}}
        </div>
        <div id="post" class="">
            <h1 class="text-xl font-bold">{{.Title}}</h1>
            <hr />
            <div id="post-content">
                {{.Post}}
            </div>
        </div>
    </div>
</body>

</html>