<li id="page-item-${{id}}">
    <fluent-card
        class="page-item transition delay-150 duration-300 ease-in divide-y divide-dashed max-h-32 min-h-10 truncate rounded hover:transition-all hover:shadow-xl">
        <div class="page-item-tag flex space-x-4">
            ${{tag}}
        </div>
        <div>
            <a class="page-item-href cursor-pointer" href="/post/${{id}}">
                <h1 class="page-item-title text-xl font-bold">${{title}}</h1>
                <hr />
                <div class="page-item-post">${{post}}</div>
            </a>
        </div>
    </fluent-card>
</li>