<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>欢迎</title>
</head>

<body>
    <script>
        let current = 1
        let postIndex = []
        fetch("/index.json")
            .then(response => response.json())
            .then(data => postIndex = data)
            .catch(err => console.error(err))

        document.getElementById("essayPage").innerHTML = `

        `.trim()
    </script>
    <div id="essayPage" class="container mx-auto p-8">
        <div class="page-table container mx-auto space-y-4">
            ${{essayPage}}
        </div>
        <div class="page-bar flex justify-end space-x-4">
            <div id="page-size">
                <select id="page-size-select" name="page-size-select">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
                <span>条/页</span>
            </div>
            <button>上一页</button>
            <select id="page-current" name="page-current">
                <option value="1" selected>1</option>
            </select>
            <button>下一页</button>
        </div>
    </div>


</body>

</html>