<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script type="module" src="https://unpkg.com/@fluentui/web-components"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            corePlugins: {
                preflight: true,
            },
        };
    </script>
    <style type="text/tailwindcss">
        #post {
            h1 {
                font-size: 2em;
                margin: 0.67em 0;
            }
            
            h2 {
                font-size: 1.5em;
                margin: 0.75em 0;
            }
            
            h3 {
                font-size: 1.17em;
                margin: 0.83em 0;
            }
            
            h4 {
                font-size: 1em;
                margin: 1.33em 0;
            }
            
            h5 {
                font-size: 0.83em;
                margin: 1.67em 0;
            }
            
            h6 {
                font-size: 0.67em;
                margin: 2.33em 0;
            }
            blockquote {
                margin: 1em 40px;
                padding: 0.5em 10px;
                border-left: 4px solid #ccc;
                font-style: italic;
            }
            a {
                text-decoration: none; /* 去掉下划线 */
                color: #007BFF; /* 设置链接颜色 */
                transition: color 0.3s ease; /* 平滑过渡效果 */
            }
            
            a:hover {
                color: #0056b3; /* 鼠标悬停时的颜色变化 */
            }
            
            a:active {
                color: #FFC107; /* 鼠标点击时的颜色变化 */
            }
        }
    </style>
    <script type="module" src="https://unpkg.com/@fluentui/web-components"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

    <script>hljs.highlightAll();</script>
    <title>{{.Title}}</title>
</head>

<body>
    <div class="container mx-auto p-8 space-y-2">
        <div class="flex justify-between">
            <fluent-breadcrumb>
                <fluent-breadcrumb-item href="/">
                    <?xml version="1.0" encoding="UTF-8"?><svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18V42H39V18L24 6L9 18Z" fill="none" stroke="#333" stroke-width="4"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M19 29V42H29V29H19Z" fill="none" stroke="#333" stroke-width="4"
                            stroke-linejoin="round" />
                        <path d="M9 42H39" stroke="#333" stroke-width="4" stroke-linecap="round" />
                    </svg>
                </fluent-breadcrumb-item>
                <fluent-breadcrumb-item>{{.Title}}</fluent-breadcrumb-item>
            </fluent-breadcrumb>
        </div>
        <div id="tag" class="flex space-x-4">
            {{range .Tags}}
            <fluent-badge appearance="accent" class="tag-item text-xs p-1">{{.Name}}</fluent-badge>
            {{end}}
        </div>
        <div id="post" class="">
            <h1 class="text-xl font-bold">{{.Title}}</h1>
            <hr />
            <div id="post-content">
                {{.Post}}
            </div>
        </div>
    </div>
</body>

</html>