<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>${{title}}</title>
</head>

<body>
    <div class="container mx-auto p-8 space-y-2 divide-y divide-dashed">
        <div id="tag" class="flex space-x-4">
            ${{tag}}
        </div>
        <div id="post" class="">
            <h1 class="text-xl font-bold">${{title}}</h1>
            <hr />
            <div id="post-content">
                ${{post}}
            </div>
        </div>
    </div>
</body>

</html>